{% extends 'lab4/base.html' %}

{% block title %}Головна сторінка - Лабораторна робота 4{% endblock %}

{% block header %}Головна сторінка{% endblock %}

{% block content %}
    <p>Ласкаво просимо до лабораторної роботи 4!</p>
    <p>Оберіть сторінку, яку бажаєте відвідати:</p>
    <ul>
        <li><a href="{% url 'lab4:about' %}">Про нас</a></li>
        <li><a href="{% url 'lab4:contact' %}">Контакти</a></li>
        <li><a href="{% url 'lab4:projects' %}">Проєкти</a></li>
        <li><a href="{% url 'lab4:services' %}">Послуги</a></li>
    </ul>
{% endblock %}